@using BPSeznamUkolu.Configuration
@page "/"

<div class="container mt-4">
    <h2 class="mb-4">Checklist</h2>

    @* Přidávací formulář *@
    <div class="input-group mb-4 shadow-sm">
        <input type="text" 
               class="form-control w-25 @(IsItemValid(_newItem) ? "" : "is-invalid")"
               title="@(!IsItemValid(_newItem) ? $"{_errorMessage}" : "")"
               maxlength="@ChecklistSettings.MaxItemNameLength" 
               placeholder="Název položky (povinné)" 
               @bind="_newItem.Name" />
        <input type="text" 
            class="form-control w-50" 
            maxlength="@ChecklistSettings.MaxDescriptionLength" 
            placeholder="Popis položky" 
            @bind="_newItem.Description" />
        <button class="btn btn-primary px-4" 
                @onclick="OnAddChecklistItem">
            Přidat
        </button>
    </div>

    @* Tabulka *@
    <div class="table-responsive shadow-sm">
        <table class="table table-hover align-middle mb-0">
            <thead class="table-light">
                <tr>
                    <th style="width: 50px;" class="text-center">Stav</th>
                    <th style="width: 30%;">Název</th>
                    <th>Popis</th>
                    <th style="width: 140px;" class="text-center">Akce</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _checklistItems) {
                    <tr class="
                            @((item.IsChecked && IsItemValid(item)) ? "opacity-75" : "") 
                            @(!IsItemValid(item) ? "table-danger" : "")">
                        <td class="text-center">
                            @* Řešení automatického uložení po kliknutí *@
                            <input type="checkbox" 
                                   class="form-check-input fs-5"
                                   disabled="@(!IsItemValid(item))"
                                   @bind="item.IsChecked"
                                   @bind:after="() => OnUpdateChecklistItem(item)" />
                        </td>
                        <td>
                            @* Třídy border-0 a bg-transparent udělají z inputu vizuálně obyčejný text *@
                            <input type="text" 
                                   class="form-control border-0 bg-transparent @(IsItemValid(item) ? "" : "is-invalid")"
                                   title="@(!IsItemValid(item) ? $"{_errorMessage}" : "")"
                                   maxlength="@ChecklistSettings.MaxItemNameLength" 
                                   @bind="item.Name"
                                   @bind:after="() => OnUpdateChecklistItem(item)" />
                        </td>
                        <td>
                            <input type="text" 
                                   class="form-control border-0 bg-transparent"
                                   maxlength="@ChecklistSettings.MaxDescriptionLength"
                                   disabled="@(!IsItemValid(item))"
                                   @bind="item.Description"
                                   @bind:after="() => OnUpdateChecklistItem(item)" />
                        </td>
                        <td class="text-center">
                            <button class="btn btn-outline-danger btn-sm ms-1" 
                                    @onclick="() => OnDeleteChecklistItem(item)">
                                ✖
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>